@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.7rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

nav a.active{
    font-weight: 1000;
}

nav a:hover,
nav a.active{
    color: slategrey;
    border-bottom: 3px solid;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem; 
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url('assets/backgroundpic.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: slategray;
}

.home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;    
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    justify-content: center;
    align-items: center;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.3rem solid bla;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
}

.social-icons a:hover{
    color: burlywood;
    transform: black;
    background-color: slategray;
    box-shadow: 0 0 25px gray;
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: #e4405f;
}

.fa-linkedin{
    color: rgb(59, 96, 218);
}

.fa-github{
    color: darkslateblue;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before {
    content: "BSIT Student";
    color: slategray;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid white;
    }
}

@keyframes words{
    0%, 50%{
        content: "Novice Web Developer";
    }
    51%, 100%{
        content: "Future Fullstack Developer";
    }
}